<form class='{{cssClass}}' autocomplete='off'>
	<header class='sheet-header'>
		<img
			src='{{item.img}}'
			data-edit='img'
			title='{{item.name}}'
			height='64'
			width='64'
		/>
		<h1><input
				name='name'
				type='text'
				value='{{item.name}}'
				placeholder='{{localize "Name"}}'
			/></h1>
	</header>
	<div>
		<table>
			<tr>
				<th>{{localize 'lexarcana2e.weapon.damage'}}</th>
				<th>{{localize 'lexarcana2e.weapon.encumbrance'}}</th>
				<th>{{localize 'lexarcana2e.weapon.difficulty'}}</th>
				<th>{{localize 'lexarcana2e.weapon.rangeName'}}</th>
				<th>{{localize 'lexarcana2e.weapon.featureName'}}</th>
				<th>{{localize 'lexarcana2e.weapon.expertus'}}</th>
			</tr>
			<tr>
				<td>
					<input
						type='text'
						name='data.damage'
						value='{{data.damage}}'
						data-dtype='Number'
					/>
				</td>
				<td>
					<input
						type='text'
						name='data.encumbrance'
						value='{{data.encumbrance}}'
						data-dtype='Number'
					/>
				</td>
				<td>
					<input
						type='text'
						name='data.difficulty'
						value='{{data.difficulty}}'
						data-dtype='Number'
					/>
				</td>
				<td>
					<select name='data.range'>
						{{#select data.range}}
							{{#each config.range as |name type|}}
								<option value='{{type}}'>{{localize
										name.label
									}}</option>
							{{/each}}
						{{/select}}
					</select>
				</td>
				<td>
					<select name='data.feature'>
						{{#select data.feature}}
							{{#each config.feature as |name type|}}
								<option value='{{type}}'>{{localize
										name.label
									}}</option>
							{{/each}}
						{{/select}}
					</select>
				</td>
				<td>
					<input
						type='checkbox'
						name='data.expertus'
						{{checked data.expertus}}
					/>
				</td>
			</tr>
		</table>
		<textarea name='data.description'>{{data.description}}</textarea>
	</div>
</form>